- loggedInClass = ' offline'
if loggedIn == true
    - loggedInClass = ' online';

footer
  .container
      .row
          .col-md-10.col-md-offset-1
              span Logged in:
              span(class='online-state #{loggedInClass}')