// Created by Jan on 09.02.2017

.element
    a(href="#" id="scissors") Schere
.element
    a(href="#" id="rock") Stein
.element
    a(href="#" id="paper") Papier
.element
    a(href="#" id="lizard") Echse
.element
    a(href="#" id="spock") Spock