// Created by Jan, Omer, Luca, Tobias M. on 09.02.2017.

.container
    .row
        .col-md-10.col-md-offset-1
            .panel.panel-default
                .panel-heading
                    h1 Game
                .panel-body
                    .element
                        a(href="#" id="scissors") Schere
                    .element
                        a(href="#" id="rock") Stein
                    .element
                        a(href="#" id="paper") Papier
                    .element
                        a(href="#" id="lizard") Echse
                    .element
                        a(href="#" id="spock") Spock