- webDir = php("$webDir")
- webName = php("$webName")
- loggedIn = php("$loggedIn")
- phpSession = php("$session")

doctype html
head
  link(rel='stylesheet', type='text/css', href='style.css')
  title!= webName
body
  header
    nav
      a(href!=webDir) Home
      a(href='?game') Game
      a(href='?logout') Logout
      a(href='?login') Login
      a(href='?register') Register
  main